# vim: set ft=sshconfig:

Host bitbucket.org
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/ed25519_{{.chezmoi.hostname}}_bitbucket@judaew

Host github.com
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/ed25519_{{.chezmoi.hostname}}_github@judaew

Host *
    Compression yes
    AddKeysToAgent yes
