/*
 * You can type here any CSS rule recognized by GTK+.
 */

@define-color fg #F8F8F8;
@define-color bg #343434;
@define-color bg_dark #1B1D1E;
@define-color text @fg;
@define-color text_dark @bg_dark;

/* Colors from my ronny theme */
@define-color green #82B414;
@define-color red #FF0044;
@define-color bright-cyan #66D9EF;

* {
	font-family: "VictorMono Nerd Font Mono", monospace;
	font-weight: bold;
	font-size: 14px;
}

#waybar {
	background: @bg_dark;
}

/*
 * MODULES LEFT
 */

#custom-menu,
#workspaces,
#submap
{
	background: @bg;
	color: @text;
}

#custom-menu {
	padding-left: 15px;
	padding-right: 10px;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	border-right: 2px solid @bg_dark;
	margin-left: 3px;
}

#workspaces {
	padding-left: 5px;
	padding-right: 5px;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

#workspaces button {
	color: @text;
	background: @bg;
}
#workspaces button.active {
	background: @green;
	color: @text_dark;
}

#workspaces button.empty {
	color: @bright-black;
	color: #808080
}

/* #workspaces button.persistent {} */
/* #workspaces button.special {} */
#workspaces button.visible {
	color: @bg_dark;
}
/* #workspaces button.urgent {} */
/* #workspaces button.hosting-monitor {} */

#submap {
	padding-left: 5px;
	padding-right: 5px;
}
/* #submap.resize {} */

/*
 * MODULES CENTER
 */

/*
 * MODULES RIGHT
 */

#cpu,
#power-profiles-daemon,
#memory,
#disk,
#temperature,
#wireplumber,
#network,
#bluetooth,
#tray,
#language,
#clock,
#custom-notification
{
	background: @bg;
	color: @text;
	padding-left: 5px;
	padding-right: 5px;
}

#cpu {
	padding-left: 10px;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#power-profiles-daemon {
	padding-right: 10px;
}

/* #memory {} */

/* #disk {} */

#temperature {
	padding-right: 10px
}
#temperature.critical {
	color: @red;
}

#wireplumber {
	padding-right: 15px;
}
#wireplumber.muted {
	color: @red;
}

#network {
	padding-right: 10px;
}
/* #network.disabled {} */
/* #network.disconnected {} */
/* #network.linked {} */
/* #network.ethernet {} */
/* #network.wifi {} */

/* #bluetooth {} */
/* #bluetooth.disabled {} */
/* #bluetooth.off {} */
/* #bluetooth.on {} */
/* #bluetooth.connected {} */
/* #bluetooth.discoverable {} */
/* #bluetooth.discovering {} */
/* #bluetooth.pairable {} */

/* #tray {} */
/* for the context menu */
/* #tray menu {} */
/* for icons with status Passive */
/* #tray > .passive {} */
/* for icons with status Active */
/* #tray > .active {} */
/* for icons with status NeedsAttention */
/* #tray > .needs-attention {} */

#language {
	background: #585858;
	padding-right: 10px;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	margin-right: 3px;
	border-left: 2px solid @bg;
}

#clock {
	background: @bright-cyan;
	color: @text_dark;
	border-right: 2px solid @bg;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#custom-notification {
	background: @bright-cyan;
	color: @text_dark;
	padding-right: 10px;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	margin-right: 3px
}
