/* See /etc/xdg/swaync/style.css */
/* Test notification https://www.bennish.net/web-notifications.html */

@define-color bg #1b1d1e;
@define-color bg-bright #343434;
@define-color border #232526;
@define-color selection #fffacd;
@define-color text #f8f8f2;
@define-color text-disabled #808080;
@define-color text-dark #1b1d1e;

* {
	font-family: "VictorMono Nerd Font Mono", monospace;
	font-weight: bold;
	font-size: 14px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @bg
}

.control-center-list-placeholder {
    color: @text;
}

.notification-row {
    outline: none;
    padding: 0;
}

.notification {
    background: transparent;
    margin: 0px;
}

.notification-content {
    background: @bg-bright;
    padding: 3px;
    border: 2px solid @border;
    margin: 0;
}

.close-button {
    background: #ff0044;
    /* color: #ff0044; */
    color: @text-dark;
    text-shadow: none;
    padding: 0;
    border-radius: 1em;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: #f92672;
    color: @text-dark;
    border: none;
    text-shadow: none;
    /* transition: all .15s ease-in-out; */
    /* border: 1px solid @border; */
}

.notification-action {
    color: @text;
    border: 2px solid @border;
    border-top: none;
    /* border-radius: 0px; */
    background: @bg-bright;
}

.notification-default-action:hover,
.notification-action:hover {
    text-shadow: none;
    color: @text-dark;
    background: #82b414;
}

.summary {
    padding-top: 7px;
    font-size: 13px;
    color: @text;
}

.time {
    font-size: 11px;
    color: #fd971f;
    margin-right: 24px
}

.body {
    font-size: 12px;
    color: #CCCCCC;
}

.control-center {
    background: @bg;
    border: 3px solid #3e4143;
    border-radius: 0px;
}

.control-center-list {
    background: transparent
}

.control-center-list-placeholder {
    opacity: .5
}

.floating-notifications {
    background: transparent
}

.blank-window {
    background: alpha(black, 0.1)
}

.widget-title {
    color: @text;
    background: @bg-bright;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.widget-title>button {
    font-size: 1rem;
    color: @text;
    text-shadow: none;
    background: @bg;
    box-shadow: none;
    /* border-radius: 5px; */
}

.widget-title>button:hover {
    background: #fd971f;
    color: @bg;
}

.widget-dnd {
    background: @bg-bright;
    color: @text;
    padding: 5px 10px;
    margin: 5px 10px 10px 10px;
    border-radius: 5px;
    font-size: large;
}

.widget-dnd>switch {
    /* border-radius: 4px; */
    background: #585858;
    /* border: 3px solid #585858 */
}

.widget-dnd>switch:checked {
    background: #82b414;
    /* border: 1px solid #82b414; */
}

.widget-dnd>switch slider {
    background: @bg;
    /* border-radius: 5px; */
    /* border: 2px solid #808080; */
    border: none;
    box-shadow: none;
    /* border: none; */
}

.widget-dnd>switch:checked slider {
    background: @bg;
    /* border-radius: 5px; */
}

.widget-label {
    margin: 10px 10px 5px 10px;
}

.widget-label>label {
    font-size: 1rem;
    color: @text;
}

.widget-mpris {
    color: @text;
    /* background: #ac0cb1; */
    background: @transfer;
    /* padding: 5px 10px 0px 0px; */
    padding: 10px 0px 0px 10px;
    /* margin: 5px 10px 5px 10px; */
}

/* .widget-mpris > box > button { */
.widget-mpris .widget-mpris-player > box > button {
    /* border-radius: 5px; */
    color: @text;
}

.widget-mpris .widget-mpris-player > box > button:disabled {
    color: @text-disabled;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background-color: @bg;
  box-shadow: none;
}

.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px;
    box-shadow: none;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem;
}

.widget-mpris-subtitle {
    font-size: 1.1rem;
}

.widget-volume {
    background-color: @bg-bright;
    border: none
}

.widget-volume > box > button {
    background: @bg;
  /* background: transparent; */
  /* border: none; */
    /* border: 2px solid #585858; */
    border-radius: 1em;
    box-shadow: none;
    color: @text;
}
.widget-volume > box > button:hover {
    background: #fd971f;
    color: @text-dark;
    color: @bg;
}

.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    background: @bg-bright;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: @bg;
    border-radius: 1em;
    color: @text;
    border: none;
    box-shadow: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: #fd971f;
    color: @text-dark;
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent }

.topbar-buttons>button {
    border: none;
    background: transparent
}


