;;; Package --- Summary -*- lexical-binding: t; -*-

;;; Commentary:

;;; Code:

(use-package aidermacs
  :bind ("C-c a" . aidermacs-transient-menu)
  :config
  (setenv "OPENROUTER_API_KEY" "{{ (passFields "emacs/aider").api_key }}")
  (setq aidermacs-use-architect-mode t)
  (setq aidermacs-default-model "{{ (passFields "emacs/aider").default_model }}")
  (setq aidermacs-auto-commits nil)
  (setq aidermacs-backend 'vterm))

;;; setup-llm.el ends here
