name: "lint changes files"
on: push

jobs:
  shellcheck-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup "shellcheck"
        run: |
          sudo apt update
          sudo apt install -y shellcheck

      - name: Lint with "spellcheck"
        run: |
          export SHELLCHECK_OPTS="-e SC1090 -e SC1091 -e SC2034"
          shellcheck \
            dot_config/lf/*.sh utils/*.sh dot_local/bin/*

  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup "ruby"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0

      - name: Setup "markdownlint"
        run: gem install mdl

      - name: Lint with "markdownlint"
        run: mdl -r ~MD013,~MD029,~MD033 README.md
